<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <hr/>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <span >
                | Logged user: <span ></span> |
                Roles: <span ></span> |
                <a >Sign Out</a>
            </span>

                <div>
                    <p class="text-center">&copy; 2017 Dusan Reljic</p>
                </div>

            </div>
        </div>
    </div>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="/js/index.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
    <script type="text/javascript" src="/js/login.js"></script>
</div>
</body>
</html>