<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="pagination">

    <!-- Pagination -->
    <div class="pagination" >
        <span >
            Page is out of bounds. Go back to <a class="pageLink"
                                                 >Home</a>.
        </span>

        <span >

            <span >
                <a class="pageLink"
                   >&laquo; first</a>
                <a class="pageLink"
                   > previous</a>
            </span>

            <span >
            </span>

            <span >
                <a class="pageLink"
                   >next</a>
                <a class="pageLink"
                   >last &raquo;</a>
            </span>
        </span>
    </div>

</div>
</body>
</html>